name: CI Build and Test

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Codegen
        run: bun run generate:graphql
      - name: Run the tests
        run: bun run test
      - name: Build
        run: bun run build
        env:
          CI: false
